body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
li {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul li {
  display: block;
}
.navbar {
  background-color: #d0d0d0;
}
.nav {
  display: inline-flex;
}
.navbar-collapsecollapse {
  padding: 30px;
  text-align: right;
}
.nav-navigation {
  text-decoration: none;
  padding-left: 25px;
  color: #ffffff;
}
