@bord: 1px solid black;
@bac-color:rgb(208,208,208);
@text-color-white:white;
@text-color-blue:blue;
@clearfix:{
    zoom:1;
    & :after {
    content:"";
    visibility:hidden;
    display:block;
    height:0;
    clear:both;
    }
};


body,h1,h2,h3,h4,h5,h6,a,ul,li,nav{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    font-size:1em;
}

nav a{
    text-decoration:none;
}

ul li {
    display:block;
}

.navbar{
    background-color: @bac-color;
    padding:30px;
}
.nav{
   display: inline-flex;
}
.navbar-collapsecollapse .navbar-collapse{
    padding:30px;
    
}
.navbar-nav{
    padding-left:15%;
}
.nav-navigation{
    text-decoration: none;
    padding-left:25px;
    color:@text-color-white;
    font-size:1.5em;
    font-style:italic;
}
.nav-navigation:hover {
    font-size:1.5em;
        color:@text-color-blue;
}
.name-title{
    clear:both;
    display:inline;
    text-align:left;
    font-size:2.5em;
    font-family:fantasy;
}